.result {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
}

.result_promocode {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 100%;
}

@media (max-width: 768px) {
    .result {
        gap: 30px;
    }
}