.wheel {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.wheel_wrapper {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    position: relative;
}

.wheel_pointer {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    max-width: 55px;
    max-height: 30px;
    color: var(--wheel-pointer-color);
    position: absolute;
    top: 0;
    left: 50%;
    z-index: 100;
}

.wheel_spinner {
    margin: 0;
    padding: 0;
    width: 400px;
    height: 400px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    border-radius: 50%;
    box-shadow: var(--wheel-border-shadow);
    border: 6px solid var(--wheel-border-color);
    overflow: hidden;
}

.wheel_spinner-segment {
    margin: 0;
    padding-bottom: 20px;
    box-sizing: border-box;
    position: absolute;
    height: 50%;
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.wheel_spinner-segment-image {
    margin: 0;
    padding: 0;
    width: 45px;
    height: 45px;
    transform: rotateX(180deg);
}