.promocode {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 50px;
}

.promocode_title {
    margin: 0;
    padding: 0;
    max-width: 350px;
    box-sizing: border-box;
    text-align: center;
    line-height: 1;
    font-size: 20px;
    font-weight: 600;
}

.promocode_ticket-wrapper {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.promocode_ticket {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 350px;
    height: 100px;
    position: relative;
}

.promocode_ticket-shape {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 0;
    filter: drop-shadow(2px 5px 5px rgba(0, 0, 0, 0.15));
}

.promocode_ticket-shape-top,
.promocode_ticket-shape-bottom {
    flex: 1;
    width: 100%;
    background-color: var(--promocode-background);
}

.promocode_ticket-shape-top {
    border-radius: 5px 5px 0 0;
}

.promocode_ticket-shape-bottom {
    border-radius: 0 0 5px 5px;
}

.promocode_ticket-shape-rip {
    position: relative;
    height: 40px;
    flex-shrink: 0;
    margin: 0 20px;
    background-color: var(--promocode-background);
    display: flex;
    align-items: center;
    justify-content: center;
}

.promocode_ticket-shape-rip::before,
.promocode_ticket-shape-rip::after {
    position: absolute;
    content: "";
    width: 40px;
    height: 40px;
    border: 10px solid transparent;
    border-top-color: var(--promocode-background);
    border-right-color: var(--promocode-background);
    transform: translate(-50%, -50%) rotate(45deg);
    border-radius: 50%;
    top: 50%;
}

.promocode_ticket-shape-rip::before {
    left: -20px;
}

.promocode_ticket-shape-rip::after {
    right: -80px;
    transform: translate(-50%, -50%) rotate(225deg);
}

.promocode_ticket-text {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
    line-height: 1;
    font-size: 26px;
    font-weight: 800;
    color: var(--promocode-text-color);
}

.promocode_description {
    margin: 0;
    padding: 0 10px;
    box-sizing: border-box;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.promocode_description-text {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: justify;
    line-height: 1;
    font-size: 12px;
}

.promocode_description-text_main {
    font-size: 12px;
    opacity: 0.75;
}

.promocode_description-text_secondary {
    font-size: 12px;
    opacity: 0.5;
}

@media (max-width: 768px) {
    .promocode {
        gap: 30px;
    }

    .promocode_title {
        max-width: 300px;
    }

    .promocode_ticket-wrapper {
        gap: 20px;
    }

    .promocode_ticket {
        width: 250px;
        height: 80px;
    }

    .promocode_description {
        gap: 2px;
    }
}