.game {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 75px;
}

.game_wheel-wrapper {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 75px;
}

.game_title {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
    font-weight: 800;
    font-size: 30px;
    line-height: 1;
}

.game_start-button {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border-radius: 18px;
    padding: 18px 44px;
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    box-shadow: var(--main-button-shadow);
    transition: .2s;
    background: var(--main-button-background-main);
    color: var(--main-button-text-color);
}

.game-start-button:hover {
    background: var(--main-button-background-hover);
    transition: .2s;
}

.game_start-button-image {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: block;
    width: 1.1em;
    height: 1.1em;
    color: var(--main-button-text-color);
}

@media (max-width: 768px) {
    .game {
        gap: 50px;
    }

    .game_wheel-wrapper {
        gap: 60px;
    }
}