#root {
  width: 100%;
  max-width: 1280px;
  min-width: 320px;
  margin: 0 auto;
  padding: 0;
}

.content {
  margin: 0;
  padding: 50px 20px;
  box-sizing: border-box;
  width: 100%;
  height: 100vh;
}

.content_screen {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}