:root {
  --background-main: linear-gradient(135deg, #DCEAE4, #EAD7DC);
  --text-color-main: #3E2F25;

  --main-button-background-main: #C77A8B;
  --main-button-background-hover: #D48E9D;
  --main-button-text-color: #FFFFFF;
  --main-button-shadow: inset 0 1px rgb(255 255 255 / .25), inset 0 -1px rgb(0 0 0 / .1), 0 2px 4px rgb(0 0 0 / .25);

  --wheel-border-color: #CBB89D;
  --wheel-border-shadow: 0 0 10px #9E8C73, 0 0 25px rgba(224, 198, 141, 0.5);
  --wheel-pointer-color: #E6D3B1;
  --wheel-segment-color-1: #B85C5C;
  --wheel-segment-color-2: #5F8F7E;
  --wheel-segment-color-3: #E0C68D;
  --wheel-segment-color-4: #7FA7C7;
  --wheel-segment-color-5: #8E6A8D;
  --wheel-segment-color-6: #D29A73;
  --wheel-segment-color-7: #8FB8A8;
  --wheel-segment-color-8: #3E6F6B;

  --promocode-background: #CBB89D;
  --promocode-text-color: #FFFFFF;

  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: var(--text-color-main);
  background: var(--background-main);
  font-synthesis: none;
  font-family: "Inter", system-ui, Avenir, Helvetica, Arial, sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  padding: 0;
}