.prize {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.prize_box {
    margin: 0;
    padding: 0;
    width: 225px;
    height: 225px;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 20;
}

.prize_image-wrapper {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    position: relative;
    width: 225px;
    height: 225px;
    position: relative;
    z-index: 10;
}

.prize_image {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 175px;
    height: 175px;
    position: absolute;
    bottom: 0;
    left: 50%;
    z-index: 10;
}

.prize_description {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 100%;
    max-width: 500px;
    position: absolute;
    bottom: 0;
    left: 50%;
    z-index: 10;
    text-align: center;
    font-size: 20px;
}

@media (max-width: 768px) {
    .prize_box {
        width: 175px;
        height: 175px;
    }

    .prize_image-wrapper {
        width: 175px;
        height: 175px;
    }

    .prize_image {
        width: 150px;
        height: 150px;
    }

    .prize_description {
        max-width: 90%;
        bottom: -10%;
        font-size: 18px;
    }
}